In [ ]:
def Firstquarter(conn):
    """
    List the quantity of the product in different month.
    """
    print("The Product in the first quarter:")
    with conn:
        sql1 = "SELECT Quantity_Ordered FROM Product_January WHERE product =?"
        sql2 = "SELECT Quantity_Ordered FROM Product_Feburary WHERE product =?"
        sql3 = "SELECT Quantity_Ordered FROM Product_March WHERE product =?"
        cur = conn.cursor()
        cur.execute(sql1,product)
        result_set1 = cur.fetchall()
        cur.execute(sql2,product)
        result_set2 = cur.fetchall()
        cur.execute(sql3,product)
        result_set3 = cur.fetchall()
        result_set=result_set1+result_set2+result_set3
        print("FirstQuantity", result_set)

In [ ]:
def Secondquarter(conn):
    """
    List the quantity of the product in different month.
    """
    print("The Product in the second quarter:")
    with conn:
        sql1 = "SELECT Quantity_Ordered FROM Product_April WHERE product =?"
        sql2 = "SELECT Quantity_Ordered FROM Product_May WHERE product =?"
        sql3 = "SELECT Quantity_Ordered FROM Product_June WHERE product =?"
        cur = conn.cursor()
        cur.execute(sql1,product)
        result_set1 = cur.fetchall()
        cur.execute(sql2,product)
        result_set2 = cur.fetchall()
        cur.execute(sql3,product)
        result_set3 = cur.fetchall()
        result_set=result_set1+result_set2+result_set3
        print("SecondQuantity", result_set)

In [ ]:
def Thirdquarter(conn):
    """
    List the quantity of the product in different month.
    """
    print("The Product in the Third quarter:")
    with conn:
        sql1 = "SELECT Quantity_Ordered FROM Product_July WHERE product =?"
        sql2 = "SELECT Quantity_Ordered FROM Product_August WHERE product =?"
        sql3 = "SELECT Quantity_Ordered FROM Product_September WHERE product =?"
        cur = conn.cursor()
        cur.execute(sql1,product)
        result_set1 = cur.fetchall()
        cur.execute(sql2,product)
        result_set2 = cur.fetchall()
        cur.execute(sql3,product)
        result_set3 = cur.fetchall()
        result_set=result_set1+result_set2+result_set3
        print("ThirdQuantity", result_set)

In [ ]:
def Fourthquarter(conn):
    """
    List the quantity of the product in different month.
    """
    print("The Product in the Fourth quarter:")
    with conn:
        sql1 = "SELECT Quantity_Ordered FROM Product_October WHERE product =?"
        sql2 = "SELECT Quantity_Ordered FROM Product_November WHERE product =?"
        sql3 = "SELECT Quantity_Ordered FROM Product_December WHERE product =?"
        cur = conn.cursor()
        cur.execute(sql1,product)
        result_set1 = cur.fetchall()
        cur.execute(sql2,product)
        result_set2 = cur.fetchall()
        cur.execute(sql3,product)
        result_set3 = cur.fetchall()
        result_set=result_set1+result_set2+result_set3
        print("FourthQuantity", result_set)

In [ ]:
def ALLyear(conn):
    """
    List the quantity of the product in all monthes.
    """
    print("The Product in this year:")
    with conn:
        sql1 = "SELECT Quantity_Ordered FROM Product_January WHERE product =?"
        sql2 = "SELECT Quantity_Ordered FROM Product_Feburary WHERE product =?"
        sql3 = "SELECT Quantity_Ordered FROM Product_March WHERE product =?"
        sql4 = "SELECT Quantity_Ordered FROM Product_April WHERE product =?"
        sql5 = "SELECT Quantity_Ordered FROM Product_May WHERE product =?"
        sql6 = "SELECT Quantity_Ordered FROM Product_June WHERE product =?"
        sql7 = "SELECT Quantity_Ordered FROM Product_July WHERE product =?"
        sql8 = "SELECT Quantity_Ordered FROM Product_August WHERE product =?"
        sql9 = "SELECT Quantity_Ordered FROM Product_September WHERE product =?"
        sql10 = "SELECT Quantity_Ordered FROM Product_October WHERE product =?"
        sql11 = "SELECT Quantity_Ordered FROM Product_November WHERE product =?"
        sql12 = "SELECT Quantity_Ordered FROM Product_December WHERE product =?"
        cur = conn.cursor()
        cur.execute(sql1,product)
        result_set1 = cur.fetchall()
        cur.execute(sql2,product)
        result_set2 = cur.fetchall()
        cur.execute(sql3,product)
        result_set3 = cur.fetchall()
        cur.execute(sql4,product)
        result_set4 = cur.fetchall()
        cur.execute(sql5,product)
        result_set5 = cur.fetchall()
        cur.execute(sql6,product)
        result_set6 = cur.fetchall()
        cur.execute(sql7,product)
        result_set7 = cur.fetchall()
        cur.execute(sql8,product)
        result_set8 = cur.fetchall()
        cur.execute(sql9,product)
        result_set9 = cur.fetchall()
        cur.execute(sql10,product)
        result_set10 = cur.fetchall()
        cur.execute(sql11,product)
        result_set11 = cur.fetchall()
        cur.execute(sql12,product)
        result_set12 = cur.fetchall()
        result_set=result_set1+result_set2+result_set3+result_set4+result_set5+result_set6+result_set7+result_set8+result_set9+result_set10+result_set11+result_set12
        print("SecondQuantity", result_set)